<h1>Restaurants list</h1>
<ul>
  <% @restaurants.each do |resto| %>
    <li><%= resto.name %>
        <%= link_to "See details", restaurant_path(resto), class: "btn btn-primary"%>
       <%= link_to 'edit', edit_restaurant_path(resto) %>
       <%= link_to 'delete', restaurant_path(resto), method: :delete %></li>
  <% end %>
</ul>

